<a href="https://colab.research.google.com/github/arteagac/xlogit/blob/master/examples/multinomial_model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Multinomial Logit

## Install `xlogit` package

In [ ]:
!pip install xlogit

Collecting git+https://github.com/arteagac/xlogit
  Cloning https://github.com/arteagac/xlogit to /tmp/pip-req-build-fvy3i0js
  Running command git clone -q https://github.com/arteagac/xlogit /tmp/pip-req-build-fvy3i0js
Requirement already satisfied: numpy>=1.13.1 in /usr/local/lib/python3.6/dist-packages (from xlogit==0.0.1) (1.18.5)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.6/dist-packages (from xlogit==0.0.1) (1.4.1)
Building wheels for collected packages: xlogit
  Building wheel for xlogit (setup.py) ... done
  Created wheel for xlogit: filename=xlogit-0.0.1-cp36-none-any.whl size=12633 sha256=14ba7115e016f32de1d16a2bd89d8d7858ffad19728259c7f1a0f315fe63a0f0
  Stored in directory: /tmp/pip-ephem-wheel-cache-moxtl9gk/wheels/64/50/8d/a97e0500aac20b521a2896234d6598045323a7d0daca37648a
Successfully built xlogit
Installing collected packages: xlogit
Successfully installed xlogit-0.0.1

## Read data using pandas

In [ ]:
import pandas as pd
data_file = "https://raw.githubusercontent.com/arteagac/xlogit/master/examples/data/fishing_long.csv"
df = pd.read_csv(data_file)
df

        id      alt  choice      income    price   catch
0        1    beach       0  7083.33170  157.930  0.0678
1        1     boat       0  7083.33170  157.930  0.2601
2        1  charter       1  7083.33170  182.930  0.5391
3        1     pier       0  7083.33170  157.930  0.0503
4        2    beach       0  1249.99980   15.114  0.1049
...    ...      ...     ...         ...      ...     ...
4723  1181     pier       0   416.66668   36.636  0.4522
4724  1182    beach       0  6250.00130  339.890  0.2537
4725  1182     boat       1  6250.00130  235.436  0.6817
4726  1182  charter       0  6250.00130  260.436  2.3014
4727  1182     pier       0  6250.00130  339.890  0.1498

[4728 rows x 6 columns]

## Estimate model with both alternative specific and individual specific variables

In [ ]:
from xlogit import MultinomialLogit
varnames = ['income','price']
X = df[varnames]
y = df['choice']

model = MultinomialLogit()
model.fit(X, y, varnames= varnames, isvars = ['income'], alts=df['alt'], fit_intercept=True)
model.summary()

Estimation time= 0.0 seconds
---------------------------------------------------------------------------
Coefficient              Estimate      Std.Err.         z-val         P>|z|
---------------------------------------------------------------------------
_intercept.boat         0.4928936     0.2053371     2.4004118        0.0449 *
_intercept.charter      1.8540668     0.2097451     8.8396174      2.87e-17 ***
_intercept.pier         0.7526662     0.2042534     3.6849637      0.000928 ***
income.boat             0.0000933     0.0000471     1.9810953         0.112
income.charter         -0.0000325     0.0000478    -0.6789829         0.633
income.pier            -0.0001267     0.0000466    -2.7209078        0.0199 *
price                  -0.0255643     0.0015154   -16.8700891      3.03e-56 ***
---------------------------------------------------------------------------
Significance:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

Log-Likelihood= -1220.535
AIC= 2455.069
BIC= 2490.594

## Estimate model with only individual specific variables

In [ ]:
varnames = ['income']
X = df[varnames]
y = df['choice']

model = MultinomialLogit()
model.fit(X, y, varnames= varnames, isvars = ['income'], alts=df['alt'], fit_intercept=True)
model.summary()

Estimation time= 0.0 seconds
---------------------------------------------------------------------------
Coefficient              Estimate      Std.Err.         z-val         P>|z|
---------------------------------------------------------------------------
_intercept.boat         0.7389145     0.1946426     3.7962627      0.000615 ***
_intercept.charter      1.3412894     0.1909361     7.0248091      2.48e-11 ***
_intercept.pier         0.8141525     0.2246576     3.6239708       0.00116 **
income.boat             0.0000919     0.0000394     2.3333489        0.0526 .
income.charter         -0.0000316     0.0000403    -0.7849623         0.586
income.pier            -0.0001434     0.0000519    -2.7629113        0.0177 *
---------------------------------------------------------------------------
Significance:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

Log-Likelihood= -1477.151
AIC= 2966.301
BIC= 2996.751